<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<% @image_attachments.each do |photo| %>
  <%= image_tag photo.photo_url %>
  <%= link_to "Edit Attachment", edit_image_path(photo) %>
<% end %>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
